@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 5% 6%;
    --foreground: 60 5% 90%;
    --primary: 240 0% 90%;
    --primary-foreground: 60 0% 0%;
    --secondary: 240 4% 15%;
    --secondary-foreground: 60 5% 85%;
    --accent: 243, 75%, 59%;
    --accent-foreground: 243, 75%, 59%;
    --destructive: 0 60% 50%;
    --destructive-foreground: 0 0% 98%;
    --muted: 240 5% 25%;
    --muted-foreground: 60 5% 85%;
    --card: 240 4% 10%;
    --card-foreground: 60 5% 90%;
    --popover: 240 5% 15%;
    --popover-foreground: 60 5% 85%;
    --border: 240 6% 20%;
    --input: 240 6% 20%;
    --ring: 240 5% 90%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.card-hide {
  display: none;
}

.card {
  perspective: 1000px;
}

.card-inner-rotate {
  transform: rotateY(180deg);
}

.card-inner {
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card-front,
.card-back {
  backface-visibility: hidden;
}

.card-back {
  transform: rotateY(180deg);
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.loader {
  @apply w-8 h-8 border-4 border-t-transparent border-primary rounded-full;
  animation: spin 1s linear infinite;
}

.scrollbar::-webkit-scrollbar {
  width: 5px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #cfcece;
  border-radius: 5px;
}
